
@font-face {
    font-family:"Circe";
    src: url('fonts/Circe-Regular.eot');
    src: url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Circe-Regular.woff') format('woff'),
    url('fonts/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {    font-family:"Circe";
    src: url('fonts/Circe-Bold.eot');
    src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Circe-Bold.woff') format('woff'),
    url('fonts/Circe-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url('fonts/FuturaPT-Bold.eot');
    src: url('fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Bold.woff') format('woff'),
    url('fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{margin: 0;
background-color: #F4F6F9;
    font-family: Circe;
    font-weight: 400;
}
.wrapper{
}
header{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(20, 30, 66, 0.05);
}

.logo{
    height: 75px;

}
.logo p{
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    line-height: 75px;
    font-family: sans-serif;
}

.container{
 width: 1170px;
    margin: 0 auto;
}
.menu{
    margin: 0 auto;
    padding: 0;
}
.menu li{
    float: left;
    display: block;
}
.menu a{
    line-height: 75px;
    text-decoration: none;
    font-size: 16px ;
    color: black;
    padding: 0px 15px;
}
.menu>li{
    position: relative;
    z-index: 2;
}
.menu .sub-menu{
    position: absolute;
    z-index: 3;
    display: none;
    top: 25px;
    right: 7px;

}
.menu>li:hover .sub-menu{
    display: block;
}

.mob a{
    display: block;
    line-height: 75px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Futura;
    font-size: 20px;
    font-weight: bold;
}
.icon{
    background-image: url("log.png");
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    margin-left: 80px;

}
.name{
    ;
}
p{
    margin: 0 auto;
}
.name p{

    display: block;
    line-height: 75px;
    color: black;
    margin-left: 20px;
    font-size:16px ;
    font-family: Circe;
    font-weight: bold;

}
.tab-cont{
    width:770px;
    display: flex;
    justify-content: space-between;
}
.bt{
    background-color: #F4F6F9;
    border: 0px;
    border-radius: 6px;
    padding: 10px 20px;
    margin-left: 50px;
    font-size: 15px;
    font-family: Futura;
    font-weight: bold;
}
.box{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: white;
    margin:20px 0px;
    font-size: 14px;
    box-shadow: 0px 20px 80px rgba(0,0,0,0.05);
    color: #84898C ;
}
.container-main{
    background-color: white;
    width: 770px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
h4{
    padding: 25px 0px 25px 30px;
    margin: 0 auto;
}
table{
    width: 711px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid silver;
    padding-bottom: 20px;
}
.tr-one{

    color: black;

}
.tr-one>td{
    }
td {
    border-bottom: 1px solid silver;
    font-size: 12px;
    text-align: center;
    padding: 25px 0px 10px 0px;
}
tr{
    font-size: 12px;
}
 td:nth-child(3){
     color:red;
     font-family: Circe;
     font-weight: bold;
 }
 td:nth-child(2){
    color:silver;
}
th {
    border-bottom: 1px solid silver;
    font-size: 12px;
    background-color: #F4F6F9;;
    font-weight: bold;
    padding: 10px 0px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-main{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width: 270px;
    height:440px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
.belt{
    padding: 20px 0px;
}
.belt-cost{
    color:   #0064FE;
    font-size: 22px;
    font-family: Circe;
    font-weight: bold;
    padding-bottom: 20px;
    }
.rubl{
    position: absolute;
    margin: 10px 180px;
    color: silver;

}
.price{
    border: 1px solid #D6DAE4;
    padding: 10px 25px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}
input-append{
 display: inline-block;
    position: relative;
}
input{
    padding: 0px 40px;
}
.margin{
    margin: 0px 30px;
}
.submit{
    width: 100%;
    padding: 10px;
    background-color: #FA463A;
    color: #F4F6F9;
    border: 1px solid #FA463A;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0px 12px 24px rgba(250, 70, 58, 0.08);
    font-size: 18px;
    font-family: Circe;
    font-weight: bold;
}
.tarif{
    font-size: 14px;
    color: gray;
    line-height: 20px;

}
.sign{
    padding: 45px 0px;
}
footer{
    background-color: white;
    margin-top: 30px;
}
.cont-fot{
    width:1170px;
    margin: 0px auto;
}
.log {
    height: 75px;


}
.cont-fot::after{
    content: "";
    display: table;
    clear: both;
}
.log p{
    line-height: 75px;
    font-size: 14px;

}
.menu-fot a{
    float: left;
    display: block;
    line-height: 75px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}
.contact{
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vk{
    background-image: url("Vector.svg");
    width: 22px;
    height: 14px;
}
.fb{
    background-image: url("face.svg");
    width: 11px;
    height: 22px;
}
.ig{
    background-image: url("inst.svg");
    height: 20px;
    width: 20px;
}
.ok{
    background-image: url("odnokl.svg") ;
    height: 20px;
    width:12px ;
}
.repeat{
    background-repeat: no-repeat;
}